

table {

    font-family: arial, sans-serif;

    border-collapse: collapse;

    width: 100%;

  }

 

  td, th {

    border: 1px solid #dddddd;

    text-align: left;

    padding: 8px;

  }

  #col-sm-1 
  {
    margin: 10px -123px 10px 264px;
    width: 274.333333%;
  }