.container {
    width: 1598px;
    height: 324px;
    margin: -149px 10px 10px 10px;
}  

.bg-primary {
    color: #fff;
    width: 1604px;
    height: 353px;
    background-color: #337ab7;
}
#img
{
    margin: -167px 36px 10px 10px;

}
#col-sm-4 {
    
    
    margin:10px 10px 10px 10px;

}



