[12:01 PM] Ayesha Shaik
.container{
margin: 13px 245px 13px 34px;
}
#logo{
margin: 20px 774px 17px 50px;
}
#banner{
margin: -231px 10px 10px 267px;
}.menu
{

display: -webkit-box;
margin: 10px 10px 10px 10px;
padding: 15px;
}
.menu a {
text-decoration: none;
list-style: none;

}


